@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Needed for icons */
  --ck-brand-walletConnect: #3b99fc;
  --ck-brand-coinbaseWallet: #0052ff;
  --ck-brand-metamask: #f6851b;
  --ck-brand-metamask-01: #f6851b;
  --ck-brand-metamask-02: #e2761b;
  --ck-brand-metamask-03: #cd6116;
  --ck-brand-metamask-04: #161616;
  --ck-brand-metamask-05: #763d16;
  --ck-brand-metamask-06: #d7c1b3;
  --ck-brand-metamask-07: #c0ad9e;
  --ck-brand-metamask-08: #e4761b;
  --ck-brand-metamask-09: #233447;
  --ck-brand-metamask-10: #e4751f;
  --ck-brand-metamask-11: #fef5e7;
  --ck-brand-metamask-12: #e3c8ab;

  /* Needed for checkmark */
  --check-size: 60px;
  --check-border-width: 5px;
  --checkmark-width: calc(var(--check-size) / 2);
  --checkmark-height: calc(var(--checkmark-width) / 2);
  --checkmark-left: calc(var(--checkmark-width) / 2);
  --checkmark-top: 50%;

  --primary: rgba(96, 47, 230, 0.9);
  --primary-hover: rgb(115, 59, 255);
  --primary-shadow: rgba(55, 23, 159, 0.8);

  --secondary: rgba(94, 98, 137, 0.4);
  --secondary-hover: rgba(94, 98, 137, 0.8);

  --primary-text: #dde1e6;
  --secondary-text: #d1d2d7;
  --tertiary-text: #a0a0a0;
  --tertiary-link: rgba(50, 128, 237, 0.8);
  --tertiary-link-active: rgba(50, 128, 237, 1);

  --background: #2b2e3c;
  --background-secondary: rgba(22, 24, 36, 0.6);

  --border-emphasis: rgba(104, 112, 118, 0.5);

  --black-a7: hsla(0, 0%, 0%, 0.141);
  --black-a8: hsla(0, 0%, 0%, 0.22);
}

/* reset */
button,
fieldset,
input {
  all: unset;
}

p, div {
  color: var(--secondary-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.DialogOverlay {
  background-color: var(--black-a8);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background: rgb(43, 46, 60);
  background: linear-gradient(
    151deg,
    rgba(43, 46, 60, 1) 8%,
    rgba(17, 19, 28, 1) 97%
  );
  border-radius: 1em;
  border: 1px solid var(--border-emphasis);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 400px;
  max-height: 85vh;
  min-height: 340px;
  padding: 2em 1.75em 2em;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogContent > * {
  margin-bottom: 1em;
}

.DialogHeading {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  justify-content: space-between;
  color: var(--primary-text);
}

.DialogTitle {
  margin: 0;
  font-weight: 600;
  color: var(--primary-text);
  font-size: 1.5em;
}

.largeText {
  /* font-weight: 600; */
  color: var(--primary-text);
  font-size: 1.75em;
}

.DialogDescription {
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10em;
  width: 55%;
  padding: 0.25em 1em;
  font-weight: 600;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  height: 32px;
  margin-top: 1em;
  transition: background-color 0.3s ease-in-out;
  box-shadow:  0.5em 0.1em  1em var(--primary-shadow);
  background-color: var(--primary);
  /* background: var(--primary-shadow);
  background: linear-gradient(
    0deg,
    var(--primary-shadow) 3%,
    var(--primary) 93%
  ); */
  color: var(--primary-text);
}
.Button:hover {
  background-color: var(--primary-hover);
}

.Button:focus {
  box-shadow: 0 0 0 2px var(--primary);
}

.IconButton {
  font-family: inherit;
  border-radius: 0.5em;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
}
.IconButton:hover {
  background-color: var(--border-emphasis);
}

.headerText {
  font-size: 1em;
}

.tertiaryText {
  font-size: 0.95em;
  color: var(--tertiary-text);
}

/* TOKEN SELECT */
.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Label {
  font-size: 15px;
  color: var(--border-emphasis);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  font-size: 15px;
  line-height: 1;
  color: var(--secondary-text);
  box-shadow: 0 0 0 1px var(--border-emphasis);
  transition: box-shadow 0.15s ease-in-out;
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 1.5px var(--border-emphasis);
}

/* HOMEPAGE */
.SectionContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 1em 1em;
  gap: 1em;
  box-shadow: 0 0 0 1px var(--border-emphasis), 0em 0em  0.4em var(--primary-shadow);
  box-sizing: border-box;
  background-color: var(--background-secondary);
}

.HomepageSelectButton {
  padding: 0.25em 1em;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  gap: 0.75em;
  color: var(--primary-text);
  transition: background-color 0.175s ease-in-out;
  background-color: var(--secondary);
}
.HomepageSelectButton:hover:not([disabled]),
.HomepageSelectButton:active:not([disabled]) {
  background-color: var(--secondary-hover);
}

/* MODIFY WALLET */
.ModifyWalletButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em;
  padding: 0.75em 1em;
  box-shadow: 0 0 0 1px var(--border-emphasis);
  transition: background-color 0.15s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  color: var(--primary-text);
}

.ModifyWalletButton:hover {
  background-color: var(--secondary-hover);
}

.splitText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* PROFILE LINKS */
.ProfileLinks {
  display: flex;
  gap: 0.5em;
  cursor: pointer;
  color: var(--tertiary-text);
}

.ProfileLinks.gray:active {
  color: var(--secondary-text);
}
.ProfileLinks.blue {
  color: var(--tertiary-link);
}
.ProfileLinks.blue:active {
  color: var(--tertiary-link-active);
}


/* CIRCLE INTO CHECKMARK */
.checkmark-wrapper {
  width: var(--check-size);
  height: var(--check-size);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.checkmark-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--check-border-width) transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  z-index: 0;
}

.checkmark-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--check-border-width) solid transparent;
  border-left-color: var(--primary);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  z-index: 1;
}

.checkmark-wrapper.spinner::before {
  animation: spinner linear forwards 1.5s infinite;
}
.checkmark-wrapper.circle::before {
  animation: circle linear forwards 1.5s;
}

.checkmark {
  height: var(--checkmark-height);
  width: var(--checkmark-width);
  position: absolute;
  opacity: 0;
  left: var(--checkmark-left);
  top: var(--checkmark-top);
  display: block;
  border-left: var(--check-border-width) solid var(--primary);
  border-bottom: var(--check-border-width) solid var(--primary);
  transform-origin: left top;
  transform: rotate(-45deg);
  animation: checkmark linear both 1.5s;
}

@keyframes checkmark {
  0% {
      height: 0;
      width: 0;
      opacity: 0;
    }
    80% {
      height: 0;
      width: 0;
      opacity: 0;  
    }
    90% {
      height: var(--checkmark-height);
      width: 0;
      opacity: 1;
    }
    100% {
      height: var(--checkmark-height);
      width: var(--checkmark-width);
      opacity: 1;
    }
}

@keyframes circle {
  0% {
      border-color: transparent;
      border-left-color: var(--primary);
  }
  90% {
      transform: rotate(360deg);
      border-color: transparent;
      border-left-color: var(--primary);
  }
  100% {
      transform: rotate(360deg);
      border-color: var(--primary);
  }
}

@keyframes spinner {
  0% {
      border-color: transparent;
      border-left-color: var(--primary);
  }
  100% {
      transform: rotate(360deg);
  }
}